# slurm
*.out

# compiled stan files - unix
stan/age_serfling_nb
stan/age_serfling_nb_21
stan/global_serfling_nb
stan/global_serfling_nb_21

# compiled stan files - windows
*.exe

# mac
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# OAuth2 token, passwords
.httr-oauth
secrets/*

# but keep the folder
!secrets/.keep

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# project specific
misc
other
data-raw/Kaspar
data-raw/SNC
stan/*.rds
paper/manus/*.docx
paper/proofs
ubelix/mgmt.txt
Stata-rp

# not publicly available
/data-raw/BfS/STATPOP_2010_2020_detailliert.csv

/data-raw/BfS/Lieferung_Staub_2021_MonatsdatenJANbisJUN.csv
/data/BfS/ch_deaths_age_sex_2021.Rds

